<%= form_with(model: content_item, local: true) do |form| %>
  <% if content_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_item.errors.count, "error") %> prohibited this content_item from being saved:</h2>

      <ul>
      <% content_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :authors %>
    <%= form.text_field :authors %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
