<p id="notice"><%= notice %></p>

<h1>Content Items</h1>

<div class="ui divided items">
  <%= link_to 'New Content Item', new_content_item_path, class: "ui right floated blue button" %>
  <% @content_items.each do |content_item| %>
    <div class="item">
      <!-- <div class="image">
        <img src="/images/wireframe/image.png">
      </div> -->
      <div class="content">
        <%= link_to content_item.title.truncate(100), content_item, class: "header" %>
        <div class="meta">
          <span class="cinema"><%= content_item.authors %></span>
        </div>
        <div class="description">
          <p><%= content_item.description&.truncate(200) %></p>
        </div>
        <div class="extra">
          <div class="ui label">Label</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
