<p id="notice"><%= notice %></p>

<%= link_to semantic_icon('angle left large link'), content_items_path %>

<h1 class="ui center aligned header"><%= @content_item.title %></h1>

<div class="ui grey inverted segment">
  <h2 class="ui header">Sources</h2>
  <div class="ui divided inverted relaxed list">
    <% @content_item.content_sources&.each do |source| %>
      <%= link_to source.url, class: 'item', target: "_blank" do %>
        <%= content_type_icon(source.content_type.name, 'big') %>
        <div class="content">
          <div class="header"><%= source.display_name %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<h2 class="ui header">Tags</h2>
<% @content_item.tags.each do |tag| %>
  <div class="ui teal label"><%= tag.name %></div>
<% end %>

<h2 class="ui header">Description</h2>
<div>
  <%= @content_item.description&.truncate(400) %>
</div>

<h2 class="ui header">Related Content</h2>
<div class="ui list">
  <%= link_to "#", class: 'item', target: "_blank" do %>
    Title
    <div class="content">
      <div class="header">Link</div>
      <div class="description">Placeholder description</div>
    </div>
  <% end %>
</div>
